* {
  margin: 0;
  padding: 0;
}

header {
  font-size: 30px;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}
/* .container {
  float: left;
  width: 30%;
} */
.search {
  float: left;
  width: 18%;
  margin-right: 20px;
}

.accordion {
  float: right;
  width: 80%;
}
.current {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 10px;
  background-color: cornflowerblue;
}
.future,
.Right {
  float: right;
  width: 73%;
  margin-bottom: 20px;
}
.left {
  float: left;
  width: 20%;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: blue;
  color: white;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
