* {
  margin: 0;
  padding: 0;
}

header {
  /* font-size: 30px; */
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.search {
  float: left;
  width: 18%;
  margin-right: 20px;
}

.accordion {
  float: right;
  width: 80%;
}
.current {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 10px;
  background-color: cornflowerblue;
}
.future,
.Right {
  float: right;
  width: 73%;
  margin-bottom: 20px;
}
.left {
  float: left;
  width: 20%;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(0, 162, 255);
  color: white;
  font-style: oblique;
  box-shadow: 0 0 10px 2px;
  padding: 5px;
  border-style: inset;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
h5,
h3 {
  size: 8px;
}

#button-addon2 {
  margin-left: 10px;
}
